/*About rappi (texto)*/
.about-rappi{
    width: 100;
}
.about-rappi .titulo{
    width: 100;
    background-color: var(--color5);
    padding: 4rem 2rem;
}
.subtitulo-line{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 100;
    padding: 4rem 1rem;
}
/*Diseño de la etiqueta de enumeración*/
.subtitulo-line hr{
    margin: 0 1rem;
}
.subtitulo-line span{
    font-weight: 900;
}
.about-rappi .titulo h2{
    font-size: 5rem;
    margin-top: 2rem;
}
.contenido{
    width: 100%;
    padding: 4rem 2rem;
}
.contenido p{
    width: auto;
    color: var(--color2);
    font-size: 1.4rem;
}
.botones{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.botones .btn1{
    text-decoration: none;
    display: block;
    background-color: var(--color1);
    color: aliceblue;
    width: 20rem;
    border-radius: 10rem;
    padding: 3rem;
    margin-top: 2rem;
    box-shadow: -2px -1px 47px -5px rgba(255,113,118,1);

    font-size: 1.8rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
.botones .btn2{
    text-decoration: none;
    display: block;
    border: 1px solid var(--color1);
    width: 15rem;
    border-radius: 10rem;
    padding: 1rem;
    margin-top: 2rem;
    color: var(--color1);
    
    font-size: 1.8rem;

    display: flex;
    align-items: center;
    justify-content: center;
}