header{
    width: 100%;
    padding: 1rem 0rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu{
    width: 100%;
    margin-top: 1rem;
    list-style: none;

    /*deja moverlos temas*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.menu li{
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1rem 3rem;
    color: var(--color2);
}
.banner{
    width: 100%;
    height: 55rem;
    background-image: url(./../img/bloque1.png);
    background-position: center;

    position: relative;
}
.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8; /*opacidad de la imagen*/
}
.banner .contenido_banner{
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;    
    left: 0;
    padding: 2rem;
}
.contenido_banner span, h1, p{
    color:var(--color4);
    margin-top: 1.5rem;
   
}
.contenido_banner span{
    font-size: 2rem;
}
.contenido_banner h1{
    font-size: 4.5rem;
    font-weight: 900; /*no lleva rem o px*/
}
.contenido_banner p{
    font-size: 1.7rem;
}
.boton{
    text-decoration: none;
    display: block;
    width: 21rem;
    height: 5rem;
    background-color: var(--color1);
    color: var(--color4);
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1rem 2rem;
    border-radius: 3rem;
    margin: auto;
    margin-top: 2rem;
    box-shadow: -2px -1px 47px -5px rgba(255,113,118,1);


    display: flex;
    justify-content: center;
    align-items: center;
}
/*About rappi (texto)*/
.about-rappi{
    width: 100%;
}
.about-rappi .titulo{
    width: 100%;
    background-color: var(--color5);
    padding: 4rem 2rem;
}
.about-rappi .titulo h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 100;
}
.about-rappi .titulo h3 hr{
    margin: 0 1rem;
}
.about-rappi .titulo h3 span{
    font-weight: 900;
}
.about-rappi .titulo h2{
    font-size: 5rem;
    margin-top: 2rem;
}
.contenido{
    width: 100%;
    padding: 4rem 2rem;
}
.contenido p{
    color: var(--color2);
    font-size: 1.4rem;
}
.botones{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.botones .btn1{
    text-decoration: none;
    display: block;
    background-color: var(--color1);
    color: aliceblue;
    width: 20rem;
    border-radius: 10rem;
    padding: 3rem;
    margin-top: 2rem;
    box-shadow: -2px -1px 47px -5px rgba(255,113,118,1);

    font-size: 1.8rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
.botones .btn2{
    text-decoration: none;
    display: block;
    border: 1px solid var(--color1);
    width: 15rem;
    border-radius: 10rem;
    padding: 1rem;
    margin-top: 2rem;
    color: var(--color1);
    
    font-size: 1.8rem;

    display: flex;
    align-items: center;
    justify-content: center;

}


/*.boton{
    justify-content: end;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-between;
    align-items:flex-end;
    justify-content: center;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    align-items: flex-end; /*bajar
    justify-content: center;
    flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: row-reverse;
    justify-content: flex-end;
    flex-direction: column;
    justify-content: end;
    flex-direction: column-reverse;
    justify-content: space-between;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: flex-end;
    order: 5;
    order: -1;
    align-self: flex-end;
    align-self: flex-end;
    order: 5;
    flex-wrap: wrap;
    flex-direction: column;
    flex-direction: column;
    flex-wrap:wrap-reverse;
    flex-flow:row nowrap;
    flex-flow: column wrap;
    font-stretch: condensed;
    align-content: flex-start;
    align-content: flex-end;
    flex-direction: column-reverse;
    align-content: center;
    flex-flow: wrap-reverse;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: space-between;
}*/